/* Style For Portfolio Page */
.main-css {
  padding-top: 90px;
}

.portfolio-first-section {
  position: relative;
  margin: 40px auto;
  width: 90%;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 40px;
  box-shadow: inset 2px 3px 6px #0aff0a83;
  border-radius: 8px;
}

.portfolio-first-section h1 {
  color: rgb(110, 216, 110);
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: auto; */
}

.project-container {
  padding: 20px;
  width: 60em;
  margin: auto;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  width: 300px;
  display: block;
  background: black;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: inset 2px 2px 2px rgba(0, 255, 0, 0.5),
  inset -2px -2px 2px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease;
}

.card-list .card-item .card-link:hover {
  box-shadow: inset 5px 5px 5px rgba(0, 255, 0, 0.5),
  inset -5px -5px 5px rgba(0, 255, 0, 0.5);
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: aqua;
  background: blue;
  padding: 6px 14px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
}

.card-list .card-link .badge.vba {
  color: #b22485;
  background: #f7dff5;
}

.card-list .card-link .badge.vba {
  color: #b25a2b;
  background: #ffe3d2;
}
.card-list .card-link .badge.vba {
  color: #205c20;
  background: #d6f8d6;
}
.card-list .card-link .badge.vba {
  color: #856404;
  background: #fff3cd;
}
.card-list .card-link .badge.vba {
  color: #b22485;
  background: #f7dff5;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: rgba(0, 255, 0, 0.5);
  background: none;
  border-radius: 50%;
  margin: 20px 0 5px;
  border: 2px solid rgba(0, 255, 0, 0.5);
  cursor: pointer;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: rgba(0, 255, 0, 0.5);
}

.second-section {
  height: fit-content;
}

.team-project-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  margin: 20px 30px;
}

.team-project-details {
  position: relative;
  text-decoration: none;
  border: 2px solid #205c20;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.5s ease;
}

.team-project-details .team-project-title {
  margin-bottom: 40px;
}

.team-project-details .badge {
  color: aqua;
  background: blue;
  padding: 6px 14px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.team-project-details .team-project-desc {
  width: 250px;
  font-size: 0.9rem;
  text-justify: auto;
  font-weight: 400;
}

.team-project-desc .view-team-project {
  position: absolute;
  color: aqua;
  padding: 4px 10px;
  bottom: 10px;
  right: 10px;
}

.team-project-container .slide-deck-container {
  flex: 1;
}

.watch-video {
  color: #b22485;
  background: #f7dff5;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 20px;
}

.watch-video .video-button {
  background: none;
  border: none;
  transform: translateY(8px);
  color: #b22485;
  transition: all 0.3s ease;
}

.watch-video:hover .video-button {
  padding-right: 5px;
  transform: translateY(8px);
  /* transform: rotate(-45deg); */
  margin-left: 8px;
  cursor: pointer;
}

.second-section .elevator-pitch-container {
  text-align: center;
  vertical-align: middle;
  margin: 70px 0;
  font-size: 700;
}

/* Style for responsive design */
@media screen and (max-width: 1090px) {
  .team-project-details {
    width: 300px;
  }
}

@media screen and (max-width: 980px) {
  .team-project-details {
    width: 250px;
  }

  .team-project-details .team-project-desc {
    width: 100%;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 835px) {
  .card-list .card-item .card-link {
    width: 250px;
  }
}


@media screen and (max-width: 760px) {
  .project-container {
    width: 20em;
  }

  .team-project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .watch-video, .watch-video .video-button {
    font-size: 1rem;
  }

  .watch-video .video-button {
    transform: translateY(4px)
  }
  
}

@media screen and (max-width: 480px) {

  .project-container {
    width: 15em;
  }

  .card-list .card-item .card-link {
    width: 200px;
  }

  .card-list .card-link .card-title {
    font-size: 0.5rem;
    font-weight: 600;
  }

}